<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-10">
            <h2><%= t(:sponsor_label) %></h2>
          </div>
          <div class="col-md-2">
            <%= link_to(t(:join), sponsor_join_path, :class => "btn btn-success btn-block")  %>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="row">
          <% @sponsors.each do |sponsor| %>
              <div class="col-md-3 mb-3">
                <div class="card" id="<%= sponsor.id %>">
                    <%= link_to(sponsor.link, :class => 'card-img-top' ) do  %>
                      <img class='col-md-12' src="<%= sponsor.image %>" />
                    <% end %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
