<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2><%= t('.header') %></h2>
      </div>
      <div class="card-block">
        <%= t('.content_html') %>
      </div>
      <div class="card-block">
        <%= form_for @sponsor do |f| %>
            <div class="form-group row">
              <%= f.label :name, :class => 'col-md-2 col-form-label' %>
              <div class="input-group col-md-10">
                <%= f.text_field :name, :class => 'form-control' %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :website, :class => 'col-md-2 col-form-label' %>
              <div class="input-group col-md-10">
                <div class="input-group-addon">www</div>
                <%= f.url_field :website, :class => 'form-control' %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :image, :class => 'col-md-2 col-form-label' %>
              <div class="input-group col-md-10">
                <div class="input-group-addon"><i class="fa fa-photo"></i></div>
                <%= f.url_field :image, :class => 'form-control' %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :mail, :class => 'col-md-2 col-form-label' %>
              <div class="input-group col-md-10">
                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                <%= f.email_field :mail, :class => 'form-control' %>
              </div>
            </div>

            <%= f.submit t(:submit), :class => 'btn btn-primary col-md-2 offset-md-10' %>
        <% end %>
      </div>
    </div>
  </div>
</div>