<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-12">
          <h2><%= t(:sponsor_label) %></h2>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-deck-wrapper">
        <div class="card-deck">
          <% @sponsors.each do |sponsor| %>
              <div class="card" id="<%= sponsor.id %>">
                <div class="card-header">
                  <div class="col-md-12">
                    <h4 class="card-title"><%= sponsor.name %></h4>
                  </div>
                </div>
                <div class="card-img-top">
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>