<% if @sponsor %>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h2><%= t('.header') %></h2>
          </div>
          <div class="card-block">
            <%= t('.content_html') %>
          </div>
        </div>
      </div>
    </div>
<% end %>