<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-10">
            <h2><%= t(:sponsor_label) %></h2>
          </div>
          <div class="col-md-2">
            <%= link_to(t(:join), sponsor_join_path, :class => "btn btn-success btn-block")  %>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="row">
            <% @sponsors.each do |sponsor| %>
              <div class="col-md-3 mb-3">
                <div class="card" id="<%= sponsor.id %>">
                  <%= link_to(sponsor.link, :class => 'card-img-top' ) do  %>
                      <img class='col-md-12' src="<%= sponsor.image %>" />
                  <% end %>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 mt-3">
    <% currentSeason = currentSeasoning %>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-10">
            <h2><%= t(:season) %> <%= currentSeason.season %> <%= t(:week) %> <%= currentSeason.week %></h2>
          </div>
          <div class="col-md-2">
            <%= link_to(t(:submit), entry_submit_path, :class => "btn btn-success btn-block")  %>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="row">
            <% @entries.each do |entry| %>
              <div class="col-md-6 mb-4">
                <div class="card" id="<%= entry.id %>">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-md-6 offset-md-6">
                        <div class="row">
                          <div class="col-md-7">
                            <div class="row">
                              <span class="col-md-7"><%= t(:votes_label) %></span><span class="font-weight-bold h4 col-md-5 text-right"><%= entry.rate %></span>
                            </div>
                          </div>
                          <div class="col-md-5">
                            <%= link_to entry_vote_path(:id => entry.id), :class => "btn btn-primary btn-block" do  %>
                                <i class="fa fa-thumbs-o-up"></i>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-img-top">
                    <div class="embed-responsive embed-responsive-16by9 col-md-12 text-center media-object">
                      <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/<%= entry.link %>?autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="card-footer">
                    <h4 class="card-title"><%= entry.skater %></h4>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

