<div class="row">
  <div class="col-md-12">
    <div class="card">
      <% if @vote %>
          <div class="card-header card-primary">
            <h1><%= t('.header') %></h1>
          </div>
          <div class="card-block">
            <%= t('.content_html', :name => @vote.skate_entry.skater) %>
          </div>
      <% else %>
          <div class="card-header card-primary">
            <h1><%= t('.error_header') %></h1>
          </div>
          <div class="card-block">
            <%= t('.error_content_html') %>
          </div>
      <% end %>
    </div>
  </div>
</div>
