<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          <h2><%= t(:entry_label) %></h2>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-deck-wrapper">
        <div class="card-deck">
          <% @entries.each do |entry| %>
              <div class="card" id="<%= entry.id %>">
                <div class="card-header">
                  <div class="row">
                    <div class="col-md-12">
                      <h4 class="card-title"><%= entry.skater %></h4>
                    </div>
                  </div>
                </div>
                <div class="card-img-top">
                  <div class="embed-responsive embed-responsive-16by9 col-md-12 text-center media-object">
                    <iframe class="embed-responsive-item img-rounded" src="https://www.youtube.com/embed/<%= entry.link %>?autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>