<div class="row">
  <div class="col-md-12">
    <div class="card">
      <% if @vote %>
          <div class="card-header card-primary">
            <h2><%= t('.header') %></h2>
          </div>
          <div class="card-block">
            <%= t('.content_html') %>
          </div>
      <% else %>
          <div class="card-header card-danger">
            <h2><%= t('.error_header') %></h2>
          </div>
          <div class="card-block">
            <%= t('.error_content_html') %>
          </div>
      <% end %>
    </div>
  </div>
</div>
