<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2><%= t('.header') %></h2>
      </div>
      <div class="card-block">
        <p><%= t('.content_html') %></p>
      </div>
      <div class="card-block">
        <%= form_for @entry do |f| %>
            <div class="col-md-12">
              <div class="form-group row">
                <%= f.label :skater, :class => 'col-md-2 col-form-label' %>
                <div class="input-group col-md-10">
                  <%= f.text_field :skater, :class => 'form-control' %>
                </div>
              </div>

              <div class="form-group row">
                <%= f.label :link, :class => 'col-md-2 col-form-label' %>
                <div class="input-group col-md-10">
                  <div class="input-group-addon"><i class="fa fa-youtube">Youtube</i></div>
                  <div class="input-group-addon">www.youtube.com/watch?v=</div>
                  <%= f.text_field :link, :class => 'form-control' %>
                </div>
              </div>

              <div class="form-group row">
                <%= f.label :mail, :class => 'col-md-2 col-form-label' %>
                <div class="input-group col-md-10">
                  <div class="input-group-addon"><i class="fa fa fa-envelope"></i></div>
                  <%= f.email_field :mail, :class => 'form-control' %>
                </div>
              </div>

              <%= f.fields_for :entry_seasoning do |ff| %>
                  <%= ff.hidden_field :id %>
              <% end %>

              <%= f.submit t(:submit), :class => 'btn btn-primary mt-3 col-md-2 offset-md-10' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>