<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2><%= t('.header') %></h2>
      </div>
      <div class="card-block">
        <p><%= t('.content_html', :name => @vote.skate_entry.skater) %></p>
      </div>
      <div class="card-block">
        <%= form_for @vote do |f| %>
            <div class="form-group row">
              <%= f.label :mail, :class => 'col-md-2 col-form-label' %>
              <div class="input-group col-md-10">
                <div class="input-group-addon"><i class="fa fa fa-envelope"></i></div>
                <%= f.email_field :mail, :class => 'form-control' %>
              </div>
            </div>

            <%= f.fields_for :skate_entry do |ff| %>
                <%= ff.hidden_field :id %>
            <% end %>

            <%= f.submit t(:submit), :class => 'btn btn-primary col-md-2 offset-md-10' %>
        <% end %>
      </div>
    </div>
  </div>
</div>