<!--
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="col-md-6 offset-md-6">
      <h4>Want to be part of a big project ? Want people to recognize your skateboarding skills ? This is the right place !
        Here you can post your trick each week. We will review the trick and post it if we judge it good enough.
        Then it's your job to share it as much as you can so people can vote for you.
        The video with the most votes at the end of the month will win skate goodies given by our sponsors.</h4>
    </div>
  </div>
</div>
-->

<div id="carouselExampleIndicators" class="carousel slide mb-3" data-ride="carousel" data-interval="6000">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag '/assets/bg_dark.jpg', :class => 'd-block img-fluid', :alt => 'First slide' %>
      <div class="carousel-caption d-none d-md-block">
        <h4><%= t(:entry_about) %></h4>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag '/assets/bg_light.jpg', :class => 'd-block img-fluid', :alt => 'Second slide' %>
      <div class="carousel-caption d-none d-md-block">
        <h4><%= t(:entry_about) %></h4>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span><i class="fa fa-chevron-left fa-3x"></i></span>
    <span class="sr-only"><%= t(:chevron_left) %></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span><i class="fa fa-chevron-right fa-3x"></i></span>
    <span class="sr-only"><%= t(:chevron_right) %></span>
  </a>
</div>