<!DOCTYPE html>
<html>
<head>
  <title>SkateSubmit</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-toggleable-md navbar-dark bg-inverse fixed-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarNav" aria-controls="navBarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars fa-inverse"></i>
    </button>
    <div class="collapse navbar-collapse" id="navBarNav">
    <%= link_to(t(:home_label), root_path, class: "navbar-brand") %>
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to(t(:entry_label), entry_index_path, class: "nav-link") %></li>
        <li class="nav-item"><%= link_to(t(:sponsor_label), sponsor_index_path, class: "nav-link") %></li>
      </ul>
    </div>
  </div>
</nav>
<%= render :partial => "layouts/banner", :object => last_entry %>
<div class="container body-content">
  <%= yield %>
  <hr />
  <footer>
    <div class="row">
      <div class="col-md-8"><p>&copy; LeMoose Corporation</p></div>
      <div class="col-md-2"><%= link_to "English", { :locale => 'en' } %></div>
      <div class="col-md-2"><%= link_to "Français", { :locale => 'fr' } %></div>
    </div>
  </footer>
</div>
</body>
</html>
